
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>我的</title>
    <meta name="keywords" content="KEYWORDS..." />
    <meta name="description" content="DESCRIPTION..." />
    <meta name="author" content="DeathGhost" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name='apple-touch-fullscreen' content='yes'>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    @*<link rel="icon" href="~/绿色的手机餐饮预订app页面模板源码/images/icon/favicon.ico" type="image/x-icon">*@
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/绿色的手机餐饮预订app页面模板源码/images/icon/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="~/绿色的手机餐饮预订app页面模板源码/images/icon/apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="196x196" href="~/绿色的手机餐饮预订app页面模板源码/images/icon/apple-touch-icon-196x196-precomposed.png">
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="~/绿色的手机餐饮预订app页面模板源码/css/style.css" />
    <script src="~/绿色的手机餐饮预订app页面模板源码/js/jquery.js"></script>
    <style>
        .addclasstruenav {
            color: #3acd17;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="w100 margin01rem">
            <img class="w100" src="~/绿色的手机餐饮预订app页面模板源码/img/aboutbanner.png" />
        </div>
        <p>{{message}}</p>
        <ul class="inforList">
            <li>
                <a href="about-integral.html" class="isNext">
                    <span><em><img src="~/绿色的手机餐饮预订app页面模板源码/img/about1.png"></em>我的积分</span>
                    <span></span>
                </a>
            </li>
            <li>
                <a href="about-coupon.html" class="isNext">
                    <span><em><img style="height: 0.43rem;" src="~/绿色的手机餐饮预订app页面模板源码/img/about2.png"></em>我的优惠券</span>
                    <span></span>
                </a>
            </li>
            <li>
                <a href="edit-address.html" class="isNext">
                    <span><em><img src="~/绿色的手机餐饮预订app页面模板源码/img/about3.png"></em>送餐地址</span>
                    <span></span>
                </a>
            </li>
            <li>
                <a href="other.html" class="isNext">
                    <span><em><img src="~/绿色的手机餐饮预订app页面模板源码/img/about4.png"></em>其他信息</span>
                    <span></span>
                </a>
            </li>
            <li>
                <a href="mobile-phone.html" class="isNext">
                    <span><em><img src="~/绿色的手机餐饮预订app页面模板源码/img/about5.png"></em>绑定手机</span>
                    <span></span>
                </a>
            </li>
        </ul>
        <div style="height:1.2rem;"></div>
        <nav>
            <a href="index.html" class="homeIcon "><img src="~/绿色的手机餐饮预订app页面模板源码/img/index1.png">点餐</a>
            <a href="my-order.html" class="categoryIcon "><img src="~/绿色的手机餐饮预订app页面模板源码/img/index2.png">订单</a>
            <a href="service.html" class="cartIcon numberCount "><img src="~/绿色的手机餐饮预订app页面模板源码/img/index3.png">服务</a>
            <a href="about-us.html" class="userIcon addclasstruenav"><img src="~/绿色的手机餐饮预订app页面模板源码/img/index4-1.png">我的</a>
        </nav>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'

            }
        })
    </script>
</body>

</html>